.answer {
  /* display: none; */
}

body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Sree Krushnadevaraya', serif;
  font-size: 20px;
}

.jumbotron {
  /* background-color: black; */
  background-image: url(../img/hogwarts.jpg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  text-align: left;
  background-color: black;
}

#form {
  text-align: left;
  margin-left: 100px;
  float: left;
}

.poem {

}

img {
  width: 40%;
  margin: auto;
  border-radius: 25px;

}

h4 {
  font-size: 25px;
}

.btn {
  font-size: 20px;
}

.answer {
  text-align: center;
}
