/* .answer {
  display: none;
} */

body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Sree Krushnadevaraya', serif;
  font-size: 20px;
}

.jumbotron {
  /* background-color: black; */
  background-image: url(../img/dininghall.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  background-color: black;
}

#form {
  text-align: left;
  margin-left: 100px;
}

.poem {
  font-family: 'Dancing Script', cursive;
}

.song {
  background-image: center;
  border-radius: 25px;
  margin-bottom: 50px;
}

h4 {
  font-size: 25px;
}

.btn {
  font-size: 20px;
  margin-top: 25px;
}

.answer {
  text-align: center;
}

#nameInput {
  color: black;
}

#houseimg {
  width: 40%;
  border-radius: 25px;
  margin-bottom: 25px;
  margin-top: 35px;
}

footer {
  margin-top: 60px;
}
.description {
  font-size: 30px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 35px;
}
